In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import sklearn

ModuleNotFoundError: No module named 'pandas'

In [ ]:

account_data = pd.read_csv('data/account.csv', sep=";")
card_data = pd.read_csv('data/card_dev.csv', sep=";")
client_data = pd.read_csv('data/client.csv', sep=";")
disp_data = pd.read_csv('data/disp.csv', sep=";")
district_data = pd.read_csv('data/district.csv', sep=";")
loan_data = pd.read_csv('data/loan_dev.csv', sep=";")
trans_data = pd.read_csv('data/trans_dev.csv', sep=";")

C:\Users\Francisco\AppData\Local\Temp\ipykernel_19756\2549921809.py:7: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  trans_data = pd.read_csv('data/trans_dev.csv', sep=";")

In [ ]:
# account_data.median()
account_data.describe()

         account_id  district_id           date
count   4500.000000  4500.000000    4500.000000
mean    2786.067556    37.310444  951654.608667
std     2313.811984    25.177217   14842.188377
min        1.000000     1.000000  930101.000000
25%     1182.750000    13.000000  931227.000000
50%     2368.000000    38.000000  960102.000000
75%     3552.250000    60.000000  961101.000000
max    11382.000000    77.000000  971229.000000

In [ ]:
card_data.describe()

           card_id       disp_id         issued
count   177.000000    177.000000     177.000000
mean    433.576271   3031.723164  954971.259887
std     290.507562   2632.338944    7217.974691
min       3.000000     41.000000  931107.000000
25%     183.000000   1080.000000  950616.000000
50%     397.000000   2513.000000  960221.000000
75%     661.000000   4270.000000  960831.000000
max    1247.000000  13660.000000  961231.000000

(mean, mode and median) and dispersion: range , variance, maximum, minimum, quartiles (including the interquartile range), and standard deviation.

In [ ]:
from functools import partial
q_25 = partial(pd.Series.quantile, q=0.25)
q_25.__name__ = "25%"
q_75 = partial(pd.Series.quantile, q=0.75)
q_75.__name__ = "75%"

NameError: name 'pd' is not defined

In [ ]:
def statFunc(x):
    stats = x.agg(["mean", "var", "std", "min", q_25, "median", q_75, "max"])
    IQ = (stats.loc["75%"] - stats.loc["25%"])
    stats.loc["lower_limit"] = stats.loc["25%"] - 1.5*IQ
    stats.loc["upper_limit"] = stats.loc["75%"] + 1.5*IQ
    stats.loc["outliers-"] = x[x<stats.loc["lower_limit"]].count()
    stats.loc["outliers+"] = x[x>stats.loc["upper_limit"]].count()
    return stats

In [ ]:
stats = statFunc(loan_data['amount', 'duration'])

NameError: name 'loan_data' is not defined

In [ ]:
stats

,loan_id,account_id,date,amount,duration,payments,status
mean,6205.658537,5.982085e+03,9.499891e+05,1.453086e+05,35.853659,4.150933e+03,0.719512
var,446204.861639,1.032506e+07,9.016461e+07,1.107700e+10,280.051913,4.811973e+06,0.483777
std,667.985675,3.213262e+03,9.495505e+03,1.052473e+05,16.734752,2.193621e+03,0.695541
min,4959.000000,2.000000e+00,9.307050e+05,4.980000e+03,12.000000,3.190000e+02,-1.000000
25%,5604.250000,3.079000e+03,9.408092e+05,6.832800e+04,24.000000,2.368750e+03,1.000000
median,6227.500000,6.032000e+03,9.505655e+05,1.148040e+05,36.000000,3.878500e+03,1.000000
75%,6737.250000,8.564500e+03,9.605252e+05,1.986000e+05,48.000000,5.907750e+03,1.000000
max,7308.000000,1.136200e+04,9.612270e+05,5.385000e+05,60.000000,9.689000e+03,1.000000
lower_limit,3904.750000,-5.149250e+03,9.112352e+05,-1.270800e+05,-12.000000,-2.939750e+03,1.000000
upper_limit,8436.750000,1.679275e+04,9.900992e+05,3.940080e+05,84.000000,1.121625e+04,1.000000
outliers-,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,46.000000
outliers+,0.000000,0.000000e+00,0.000000e+00,1.200000e+01,0.000000,0.000000e+00,0.000000

In [ ]:
loan_data.isna().sum()

loan_id       0
account_id    0
date          0
amount        0
duration      0
payments      0
status        0
dtype: int64