In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [5]:

account_data = pd.read_csv('../data/account.csv', sep=";")
card_data = pd.read_csv('../data/card_dev.csv', sep=";")
client_data = pd.read_csv('../data/client.csv', sep=";")
disp_data = pd.read_csv('../data/disp.csv', sep=";")
district_data = pd.read_csv('../data/district.csv', sep=";")
loan_data = pd.read_csv('../data/loan_dev.csv', sep=";")
trans_data = pd.read_csv('../data/trans_dev.csv', sep=";")

C:\Users\Francisco\AppData\Local\Temp\ipykernel_2580\2210588100.py:7: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  trans_data = pd.read_csv('../data/trans_dev.csv', sep=";")

In [6]:
trans_data

,trans_id,account_id,date,type,operation,amount,balance,k_symbol,bank,account
0,1548749,5270,930113,credit,credit in cash,800.0,800.0,NaN,NaN,NaN
1,1548750,5270,930114,credit,collection from another bank,44749.0,45549.0,NaN,IJ,80269753.0
2,3393738,11265,930114,credit,credit in cash,1000.0,1000.0,NaN,NaN,NaN
3,3122924,10364,930117,credit,credit in cash,1100.0,1100.0,NaN,NaN,NaN
4,1121963,3834,930119,credit,credit in cash,700.0,700.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
396680,515914,1763,961231,withdrawal,withdrawal in cash,14.6,67769.5,payment for statement,NaN,NaN
396681,516262,1765,961231,withdrawal,withdrawal in cash,14.6,19708.1,payment for statement,NaN,NaN
396682,520019,1775,961231,withdrawal,withdrawal in cash,14.6,15944.5,payment for statement,NaN,NaN
396683,517894,1769,961231,withdrawal,withdrawal in cash,14.6,34679.4,payment for statement,NaN,NaN
396684,518239,1770,961231,withdrawal,withdrawal in cash,14.6,68162.9,payment for statement,NaN,NaN

In [12]:
trans_data['type'].value_counts()

withdrawal            232093
credit                159468
withdrawal in cash      5124
Name: type, dtype: int64

In [39]:
effort_table = pd.DataFrame(columns=['account_id','revenue', 'expenses', 'efort_rate'])
account_id_list = []
for i, row in trans_data.iterrows():
    if (row['account_id'] not in account_id_list):
        account_id_list.append(row['account_id'])

In [63]:
dic = {}
for i in account_id_list:
    dic[str(i) +'_revenue'] = 0
    dic[str(i) +'_expenses'] = 0

In [65]:
dic = {}

for i, row in trans_data.iterrows():
    revenue = str(row['account_id'])+"_revenue_"+str(row['date']//100)
    expenses = str(row['account_id'])+"_expenses_"+str(row['date']//100)
    if ( revenue not in dic):
        dic[revenue] = 0
    if ( expenses not in dic):
        dic[expenses] = 0

    if (row['type'] == "credit"):
        dic[revenue] += row['amount']
    else:
        dic[expenses] += row['amount']

In [68]:
trans_data[['type','operation']].value_counts()

type                operation
withdrawal          withdrawal in cash              160146
                    remittance to another bank       70737
credit              credit in cash                   62202
                    collection from another bank     26505
withdrawal in cash  withdrawal in cash                5124
withdrawal          credit card withdrawal            1210
dtype: int64